.posts {
    &__items {
        width: 100%;
        td, th {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid $gray;
        }
        tr:hover td {
            background-color: rgba(0, 0, 0, .01);
        }
    }
    &__buttons {
        white-space: nowrap;
    }
    &__image {
        max-width: 200px;
    }
    &__noimage {
        font-size: 1.2rem;
    }
    &__total {
        text-align: right;
        font-weight: bold;
    }
}
