* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    height: 100%;
}
body {
    font-family: Arial;
    font-weight: 400;
    font-size: $font-size-normal;
    line-height: 1.3;
    height: 100%;
}
table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1 {
    margin-bottom: 2rem;
}

.content {
    width: $site-width;
    max-width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
}
